# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/

# Custom data and output folders (bạn có thể điều chỉnh thêm)
data/
output/
weights/
